.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #31d6d6;
}
.product-item--highlight {
  background: rgba(205, 205, 205, 0.25);
  border-radius: 10px;
}
.product-item__name {
  width: 40%;
  color: #3e423a;
  font-size: 18px;
  word-wrap: break-word;
}
.product-item__calori {
  font-size: 20px;
}
.product-item__add-to-favorite {
  z-index: 10;
  cursor: pointer;
}
.plus-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding-bottom: 14px;
  color: #ffffff;
  font-size: 60px;
  background: #67cfcf;
  border-radius: 50%;
  cursor: pointer;
  transition: filter 0.3s;
}
.plus-btn:hover {
  filter: brightness(110%);
}
