.find-meal {
  height: 80%;
}
.side-btn {
  position: absolute;
  top: 66px;
  right: -25%;
  left: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 76%;
  opacity: 0.8;
}
.side-btn__inner {
  justify-content: flex-start;
  padding-left: 10px;
  font-size: large;
}
