.screen-summary {
  position: relative;
  text-align: center;
}
.screen-summary__action {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 70px;
}
.chart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart__inner {
  position: absolute;
  font-size: 60px;
  text-shadow: 2px 3px lightgrey;
}
